/* DetailPage.css */
.slick-dots {
    position: relative;
    top: 15px; /* Di chuyển dots xuống dưới */
    
  }
  .slick-thumb {
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap; /* Prevent dots from wrapping to the next line */
    overflow: hidden; /* Hide the dots that overflow the container */
  }
 .slick-thumb img {
  margin: 10px;
  filter: grayscale(100%);
  object-fit: contain;

}

.slick-thumb img.active {
  filter: grayscale(0%);
}

.slick-slider .slick-dots .dot img {
  filter: grayscale(100%);
  
}

.slick-slider .slick-dots .dot.slick-active img {
  filter: grayscale(0%);
}
  .slick-dots li{
    width: 100px;
    height: 0;
  }
 
  .slick-arrow{

    border-radius: 999;
  }

  .slick-next{
    right: 0;
    z-index: 10;
  }
  .slick-prev{
    left: 0;
    z-index: 10;
  }
